.button {
    width: 160px;
    height: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    align-self: center;
    margin-top: 30px;
    font-size: 20px;
}

.header {
    align-self: auto;
    align-items: auto;
    -unity-text-align: upper-center;
    background-size: 183% 100%;
    font-size: 100px;
}
